section {
  background-color: #f4f4f4;
  color: #282e34;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 25rem;
}
section:nth-of-type(odd) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* fixed => parallax, scroll => normal */
}
section:first-of-type {
  background-image: url("https://picsum.photos/800/600?random=1");
}
section:nth-of-type(3) {
  background-image: url("https://picsum.photos/800/600?random=2");
}
section:nth-of-type(5) {
  background-image: url("https://picsum.photos/800/600?random=3");
}
section:nth-of-type(7) {
  background-image: url("https://picsum.photos/800/600?random=4");
}